.form{
    background-color: black;
    border: 3px solid #157347;
    width: 1000px;
    padding: 20px;
    margin-left: 12%;
    margin-top: 5%;
    border-radius: 20px;
}

h1{
    text-align: center;
}

/* link que ainda não foi visitado */
a:link {
    color: #157347;
    text-decoration: none;
}
 /* link selecionado */
 a:active {
     color: white;
     text-decoration: none;
}