.form{
    background-color: black;
    max-width: 300px;
    min-width: 320px;
    padding: 20px;
    margin: auto;
    border-radius: 20px;
    border: 3px solid #157347;
}

.font{
    font-family: 'Montserrat', sans-serif;
}

.espaco{
    margin-top: 10%;
}

.centro{
    margin-left: 40%;
}

.centro-place{
    text-align: center;
}

.centro-input{
    margin-left: 19%;
}